*.pyc
.bundle
node_modules
exercises-packed
exercises-packed.zip


# Ignore compiled Python files
*pyc

# Ignore Java .class files
*.class

# Ignore Minified JS and CSS files
lib/*-min.*

# Ignore files used by JetBrains IDE's to store project settings.
.idea

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

